* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: CaskaydiaCove Nerd Font;
  font-size: 19px;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.1;
}

#window {
  color: #7a95c9;
  background-color: #252733;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}

window#waybar.fullscreen #window {
  color: #ecd3a0;
}

#workspaces button {
  background-color: #252733;
  border-radius: 0px;
  color: #7a95c9;
  box-shadow: inset 0 -3px transparent;

  padding-right: 3px;
  padding-left: 3px;

  margin-left: 0em;
  margin-right: 0em;
  margin-top: 7px;
  margin-bottom: 7px;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  color: #ecd3a0;
  padding-left: 1px;
  padding-right: 1px;
  margin-left: 0em;
  margin-right: 0em;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

/* For the first workspace button */
#workspaces button:first-child {
  border-top-left-radius: 8px;
  /* Radius of the upper left corner */
  border-bottom-left-radius: 8px;
  /* Lower left corner radius */
  padding-left: 10px;
}

/* For the last workspace button */
#workspaces button:last-child {
  border-top-right-radius: 8px;
  /* Radius of rounded corners on the upper right */
  border-bottom-right-radius: 8px;
  /* Lower right corner radius */
  padding-right: 10px;
}

#custom-launcher {
  background-color: #252733;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 22px;
  color: #ecd3a0;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 7px;
  margin-left: 3px;
  border-radius: 8px;
}

#pulseaudio {
  background-color: #252733;
  border-radius: 8px 0px 0px 8px;
  color: #81A1C1;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 22px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#pulseaudio.muted {
  color: #fb958b;
  padding-left: 10px;
  font-size: 22px;
}

#backlight {
  background-color: #252733;
  color: #ecd3a0;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 22px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#battery {
  background-color: #252733;
  color: #8fbcbb;
  border-radius: 0px 8px 8px 0px;
  padding-right: 10px;
  padding-left: 5px;
  font-size: 22px;
  margin-top: 7px;
  margin-bottom: 7px;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: #8fbcbb;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 22px;
}

#battery.charging {
  font-size: 22px;
  padding-right: 10px;
  padding-left: 5px;
}

#battery.full,
#battery.plugged {
  font-size: 22px;
  padding-right: 20px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}

#custom-lock {
  background-color: #252733;
  color: #ecd3a0;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 8px;
  font-size: 22px;
}

#clock {
  background-color: #252733;
  color: #7a95c9;
  font-family: CaskaydiaCove Nerd Font;
  font-weight: bold;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
  margin-right: 7px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-power-menu {
  background-color: #252733;
  color: #e78284;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 7px;
  margin-top: 7px;
  margin-right: 3px;
  margin-bottom: 7px;
  border-radius: 8px;
  font-size: 22px;
}

tooltip {
  font-family: CaskaydiaCove Nerd Font;
  padding: 10px;
  background-color: #1f232b;
}

tooltip label {
  font-family: CaskaydiaCove Nerd Font;
  padding: 5px;
}

label:focus {
  background-color: #1f232b;
}

#tray {
  background-color: #252733;
  margin-right: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 40px;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

#tray>.passive {
  -gtk-icon-effect: dim;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#privacy {
  color: #e78284;
  background-color: #252733;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 22px;
}

#idle_inhibitor.activated {
  background-color: #252733;
  color: #eb4d4b;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 22px;
}

#idle_inhibitor.deactivated {
  background-color: #252733;
  color: #5aaca5;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 7px;
  margin-right: 7px;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 22px;
}

#submap {
  color: #ecd3a0;
  background-color: #252733;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 7px;
}